    <div class="card scrollable-card">
      <div class="card-body scrollable-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0" style="color: #0C464A;">Atalhos</h5>
            <div class="d-flex gap-2">
                <span class="material-icons" style="cursor: pointer;" title="Cadastrar">add</span>
                <span class="material-icons" style="cursor: pointer;" title="Editar">more_vert</span>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Prestadores</span>
                <h6 class="card-title mb-0">Cadastro de prestadores</h6>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Prestadores</span>
                <h6 class="card-title mb-0">Documentos vencidos</h6>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Operadoras</span>
                <h6 class="card-title mb-0">Solicitações</h6>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Operadoras</span>
                <h6 class="card-title mb-0">Agenda</h6>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Relacionamento</span>
                <h6 class="card-title mb-0">Repositório</h6>
            </div>
        </div>
        <div class="d-flex align-items-center mt-4">
            <button type="button" class="btn btn-success position-relative me-2">
                <i class="fal fa-stethoscope"></i>
            </button>
            <div class="d-flex flex-column align-items-start">
                <span>Qualificação</span>
                <h6 class="card-title mb-0">Questionários</h6>
            </div>
        </div>
      </div>
    </div>