 <div class="row">
  <div class="col-sm-4 mb-3 mb-sm-0">
    <app-atalhos></app-atalhos>
  </div>
  <div class="col-sm-4">
    <app-agenda></app-agenda>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">Relatórios</h5>
            <div class="d-flex gap-2">
                <span class="material-icons" style="cursor: pointer;" title="Cadastrar">add</span>
                <span class="material-icons" style="cursor: pointer;" title="Editar">more_vert</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

