 <div class="row">
  <div class="col-sm">
    <div class="card" style="background-color: #0C464A; width: 251; height: 118px; border-radius: 16px;">
      <div class="card-body">
        <h3 class="card-title" style="color: #A5CD64;">4500</h3>
        <p class="card-text" style="color: #FFF;">Prestadores em  credenciamento</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="background-color: #0C464A; width: 251; height: 118px; border-radius: 16px;">
      <div class="card-body">
        <h3 class="card-title" style="color: #A5CD64;">201</h3>
        <p class="card-text" style="color: #FFF;">Novos prestadores</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="background-color: #0C464A; width: 251; height: 118px; border-radius: 16px;">
      <div class="card-body">
        <h3 class="card-title" style="color: #A5CD64;">23</h3>
        <p class="card-text" style="color: #FFF;">Novas operadoras</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="background-color: #0C464A; width: 251; height: 118px; border-radius: 16px;">
      <div class="card-body">
        <div>
          <h3 style="display: inline; color: #A5CD64;">456</h3>
          <p style="display: inline; margin-left: 4px; color: #FFF;">/5002</p>
        </div>
        <p class="card-text" style="color: #FFF;">Ocorrências resolvidas</p>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="background-color: #0C464A; width: 251; height: 118px; border-radius: 16px;">
      <div class="card-body">
        <div>
          <h3 style="display: inline; color: #A5CD64;">4596</h3>
          <p style="display: inline; margin-left: 4px; color: #FFF;">/5018</p>
        </div>
        <p class="card-text" style="color: #FFF;">Planos de ação concluídos</p>
      </div>
    </div>
  </div>
</div>
 <div class="row">
  <div class="col-sm-4 mb-3 mb-sm-0 mt-4">
    <app-atalhos></app-atalhos>
  </div>
  <div class="col-sm-4 mt-4">
    <app-agenda></app-agenda>
  </div>
  <div class="col-sm-4 mt-4">
    <app-relatorios></app-relatorios>
  </div>
</div>
<div class="row">
  <app-ocorrencias></app-ocorrencias>
</div>

