<ul ngbNav #nav="ngbNav" class="nav-tabs mt-4">
	<li ngbNavItem>
		<button style="color: #00995D;" ngbNavLink>Ocorrencias</button>
		<ng-template ngbNavContent>
            <div class="table-wrapper position-relative">
                @if(loading) {
                    <div class="spinner-container">
                        <div class="spinner-border text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Protocolo</th>
                            <th scope="col">Data de criação</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Título da solicitação</th>
                            <th scope="col">Prestador</th>
                            <th scope="col">Status</th>
                            <th scope="col">Setor responsável</th>
                            <th scope="col">Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(items.length === 0 && loading == false) {
                            <p>Nenhum registro encontrado</p>
                        }
                        @for (item of items; track $index) {
                            <tr>
                                <td>{{ item['ocoCod'] }}</td>
                                <td>{{ getDataFormatada(item['fdscOcoDateOpdus']) }}</td>
                                <td>{{ item['fdscTipoOcorr'] }}</td>
                                <td>{{ item['dscTitulo'] }}</td>
                                <td>{{ item['dscPrestOpdr'] }}</td>
                                <td>
                                    @switch (item['ocoIndSituacOcorrDominio']) {
                                        @case ('Em Aberto') {
                                            <button class="btn btn-primary" type="button" disabled style="width: 100%;">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Em Aberto
                                            </button>
                                        }
                                        @case ('Em Andamento') {
                                            <button class="btn btn-danger" type="button" disabled style="width: 100%;">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Em Andamento
                                            </button>
                                        }
                                        <!-- Finalizada -->
                                        @default {
                                            <button class="btn btn-success" type="button" disabled style="width: 100%;">
                                                <i class="fal fa-check"></i>
                                                Concluido
                                            </button>
                                        }
                                    }
                                </td>
                                <td>{{ item['fdscOpdep'] }}</td>
                                <td>{{ item['fdscOpdus'] }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
		</ng-template>
	</li>
	<li ngbNavItem>
		<button style="color: #00995D;" ngbNavLink>Solicitações</button>
		<ng-template ngbNavContent>
			<!-- <p>Because default values have been customized in the config</p> -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Solicitada em</th>
                        <th scope="col">Prestador</th>
                        <th scope="col">Motivo Solicitação</th>
                        <th scope="col">Dados Descredencialmento</th>
                        <th scope="col">Demanda por</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Período</th>
                        <th scope="col">Data Próximo Reajuste</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Data Publicação Movimentação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23/05/2024</td>
                        <td>Hospital dia Operadora 777 (10 - Hospital Dia)</td>
                        <td>Afastamento</td>
                        <td></td>
                        <td>Prestador</td>
                        <td>Finalizada</td>
                        <td>Afastado em 22/05/2024</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23/05/2024</td>
                        <td>Hospital dia Operadora 777 (10 - Hospital Dia)</td>
                        <td>Reintegração</td>
                        <td></td>
                        <td>Prestador</td>
                        <td>Finalizada</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23/05/2024</td>
                        <td>Hospital dia Operadora 777 (10 - Hospital Dia)</td>
                        <td>Afastamento</td>
                        <td></td>
                        <td>Prestador</td>
                        <td>Finalizada</td>
                        <td>Afastado em 22/05/2024</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>23/05/2024</td>
                        <td>Hospital dia Operadora 777 (10 - Hospital Dia)</td>
                        <td>Credenciamento</td>
                        <td></td>
                        <td>Prestador</td>
                        <td>Finalizada</td>
                        <td>Credenciado em 15/05/2019</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2 mb-5"></div>