<div class="table-wrapper position-relative">
    <table class="table">
        <thead>
            <tr>
                @for (item of columnArray; track $index) {
                    <th>{{item.headerName}}</th>
                }
                <th scope="col" style="text-align: center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (item of gridData; track $index) {
                <tr>
                    @for (columnName of columnArray; track $index) {
                        <td> {{item[columnName.fieldName]}} </td>
                    }
                    <td style="text-align: center;">
                        <i class="fal fa-edit fa-lg"></i>
                        <i class="fal fa-trash fa-lg" style="margin-left: 10px;"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>