<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
       <img src="prime_icon.png" style="height: 41px; width: 48px; background-color: #0C464A;">
    </button>
    @if (!isLeftSidebarCollapsed()) {
      <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          @if (!isLeftSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </div>
</div>