/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.warning .mat-mdc-snack-bar-label {
    background-color: #FFEE58;
    color: #1F231F;
}
.error .mat-mdc-snack-bar-label {
    background-color: #EF5350;
    color: #1F231F;
}
.success .mat-mdc-snack-bar-label {
    background-color: #46E777;
    color: #1F231F;
}