<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="d-flex flex-column align-items-start">
        <h3 class="card-title mb-0" style="color: #0C464A;">Cadastro de Países</h3>
        <span><i class="fas fa-arrow-left"></i> bemVindo / cadastroPaises</span>
    </div>
    <div class="d-flex gap-2">
        <button type="button" (click)="onEditPais(items)" class="btn btn-success position-relative me-2" style="background-color: #0C464A;">
            Cadastrar País +
        </button>
    </div>
</div>
<app-grid [columnArray]="columnList" [gridData]="items">
    <ng-template #actionsTemplate let-item>
        <i class="fal fa-edit fa-lg action-icon-edit" (click)="onEditPais(item)"></i>
        <i class="fal fa-trash fa-lg action-icon-delete" (click)="onDeletePais(item)" style="margin-left: 10px;"></i>
    </ng-template>
</app-grid>